<div class="container">
  <h4>General</h4>

  <mat-list>
    <mat-list-item>
      <h3 matLine>Overwrite existing lyrics</h3>
     <!-- <p matLine>
        Choose if existing lyrics should be replaced with the new ones
      </p> -->
      <mat-slide-toggle (change)="checkChange(storeKeys.CONFIGURATION_OVERWRITE_LYRICS)"
                        [(ngModel)]="radioOvwLyrics"></mat-slide-toggle>
    </mat-list-item>

    <mat-list-item>
      <h3 matLine>Logging</h3>
      <!-- <p matLine>
         Choose if existing lyrics should be replaced with the new ones
       </p> -->
      <mat-slide-toggle (change)="checkChange(storeKeys.CONFIGURATION_LOGGING)"
                        [(ngModel)]="radioLogging"></mat-slide-toggle>
    </mat-list-item>

    <mat-list-item>
      <h3 matLine>Send anonymous usage data</h3>
      <!-- <p matLine>
         Choose if existing lyrics should be replaced with the new ones
       </p> -->
      <mat-slide-toggle (change)="checkChange(storeKeys.CONFIGURATION_ANALYTICS)"
                        [(ngModel)]="radioAnalytics"></mat-slide-toggle>
    </mat-list-item>

    <mat-list-item>
      <h3 matLine>Check updates automatically</h3>
      <!-- <p matLine>
       Choose if existing lyrics should be replaced with the new ones
     </p> -->
      <mat-slide-toggle disabled="true" (change)="checkChange(storeKeys.CONFIGURATION_AUTO_CHECK_UPDATES)"
                        [(ngModel)]="radioUpdates"></mat-slide-toggle>
    </mat-list-item>
  </mat-list>
</div>
