<div class="container">

  <p>For adding lyrics to your library all you have to do is: <b>selecting the tracks</b> on iTunes and come back here
    and press the <b>download button</b>. Please donate if you find this application useful, see <b>About</b> section in
    menu.</p>

  <table [dataSource]="processedTracksDataSource" mat-table>
    <ng-container matColumnDef="no">
      <th *matHeaderCellDef mat-header-cell>#</th>
      <td *matCellDef="let tableTrack; let i = index" mat-cell>{{ processedTracksDataSource.length() - i}}</td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th *matHeaderCellDef mat-header-cell>Title</th>
      <td *matCellDef="let tableTrack" mat-cell>{{tableTrack.getTrack().getTitle()}}</td>
    </ng-container>
    <ng-container matColumnDef="artist">
      <th *matHeaderCellDef mat-header-cell>Artist</th>
      <td *matCellDef="let tableTrack" mat-cell>{{tableTrack.getTrack().getArtist()}}</td>
    </ng-container>
    <ng-container matColumnDef="album">
      <th *matHeaderCellDef mat-header-cell>Album</th>
      <td *matCellDef="let tableTrack" mat-cell>{{tableTrack.getTrack().getAlbum()}}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header-cell>Status</th>
      <td *matCellDef="let tableTrack" mat-cell>
        <app-status-dot [blinking]="tableTrack.getStatusBlinking()"
                        [color]="tableTrack.getStatusColor()" [size]="9"
                        class="dot"></app-status-dot>
        {{tableTrack.getStatusString()}}
      </td>
    </ng-container>

    <tr *matHeaderRowDef="processedTracksTableDisplayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: processedTracksTableDisplayedColumns" mat-row></tr>
  </table>

</div>

<div class="fab-button fixed">
  <button (click)="onGrabClick()" [disabled]="mIsStopping" aria-label="Example icon button with a bookmark icon"
          color="accent" mat-fab>
    <mat-icon>{{ mProcessing ? "stop" : "cloud_download"  }}</mat-icon>
  </button>
</div>

<div class="bottom-bar fixed">
  <div class="left">
    {{ getStatusBarPhrase() }}
  </div>
  <div class="right">
    v{{ getAppVersion() }} <span *ngIf="mUpdatesAvailable == true"><a href="#" (click)="openLink(mUpdatesUrl, $event)">(New version available!)</a></span>
  </div>
</div>
