/*
 * Page
 */

.container {
  padding: 74px 18px 20px 18px;
}

table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 40px;
}

th, td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tr.mat-row {
  height: 34px;
}

.mat-cell {
  font-size: 13px;
}

.mat-column-no {
  width: 10%;
}

.mat-column-title {
  width: 30%;
}
.mat-column-album {
  width: 20%;
}
.mat-column-artist {
  width: 20%;

}.mat-column-status {
  width: 20%;
}

.fab-button {
  position: absolute;
  bottom: 54px;
  right: 32px;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;

  position: absolute;
  width: 100%;
  padding: 6px 18px;
  box-sizing: border-box;
  bottom: 0;
  font-size: 12px;
  background: #f1f1f1;
}

.cell-status {
  display: flex;

}

.cell-status .dot {
  padding-right: 6px;
}

/*
 * Utils
 */

.fixed {
  position: fixed;
}
