.container {
  overflow: auto;
  display: flex;
  align-items: center;
  height: calc(100% - 64px);
  /* padding: 74px 18px 20px 18px; */
  box-sizing: content-box;
  margin-top: 64px;
}

.inner {
  padding: 15px;
  box-sizing: content-box;
  text-align: center;
}

h1 {
  font-weight: 300;
  margin: 0;
}

h2 {
  font-weight: 300;
  font-size: 1em;
  margin: 0.3em 0 0 0;
}

img {

  padding-top: 4em;
  width: 150px;
  height: 150px;
}
