<div class="container">

  <div class="inner">
    <img src="assets/icons/favicon.512x512.png" />
    <h1>iLyricsGrabber</h1>
    <h2>Start downloading your lyrics with a click!</h2>

    <p>v{{getAppVersion()}}</p>

    <p>iLyricsGrabber is a free software with no ads, if you use it a lot please consider to donate for supporting the
      development. Starting from version v2 iLG has been rewritten from scratch for being multiplatform Windows and
      MacOS, therefore its new internal structure is designed to be multiplatform. Sadly, MacOS policies requires me to
      have a Developer account to distribute this application which is about 100$ per year, for this reason for now I
      released it only for Windows but if donations will allow me to do it I am planning to release it even for
      MacOS.</p>

    <p>Donate with: <a href="#" (click)="openLink('https://paypal.me/gabrielepmattia', $event)">PayPal</a> &bull; <a
      href="#" (click)="openLink('https://liberapay.com/gabrielepmattia' , $event)">LiberaPay</a></p>

    <p><a href="#" (click)="openLink('https://ilg.gabrielepmattia.com', $event)">Visit the website for updates</a></p>
  </div>
</div>
