<mat-sidenav-container class="example-container">
  <mat-sidenav [(opened)]="sidenavOpened" class="sidenav" mode="push">
    <mat-nav-list>
      <a [routerLink]="['/home']" mat-list-item>Lyrics Grabber</a>
      <a [routerLink]="['/home/settings']" mat-list-item>Settings</a>
      <a [routerLink]="['/home/about']" mat-list-item>About</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">

    <mat-toolbar class="fixed" color="primary">
      <button (click)="onToolbarMenuClick()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-title">
        <span *ngIf="this.router.url == '/home/lyrics-grabber' ">  {{ 'screens.home.title' | translate }} </span>
        <span *ngIf="this.router.url == '/home/settings' ">  {{ 'screens.settings.title' | translate }} </span>
        <span *ngIf="this.router.url == '/home/about' ">  {{ 'screens.about.title' | translate }} </span>
      </span>
      <span class="toolbar-spacer"></span>
      <!-- <button class="" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button> -->
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

