:host {

}

/*
 * Toolbar
 */

.toolbar-title {
  padding-left: 14px;
}

.toolbar-icon {
  padding: 0 14px;
}
.toolbar-spacer {
  flex: 1 1 auto;
}

/*
 * Page
 */

.sidenav {
  width: 200px;
}

.sidenav-content {
  height: 100vh;
}

/*
 * Utils
 */

.fixed {
  position: fixed;
}
